/*
 * SAMSUNG UNIVERSAL8890 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos8890-herolte_common.dtsi"
#include "exynos8890-haechilte_gpio.dtsi"
#include "exynos8890-haechilte_battery.dtsi"
#include "exynos8890-sound-cs47l91.dtsi"
#include "exynos8890-haechilte-sound.dtsi"
#include "exynos8890-luckylte_mst.dtsi"
#include "exynos8890-haechilte_display_00.dtsi"
#include "exynos8890-herolte_motor.dtsi"
#include "exynos8890-herolte_svcled.dtsi"

/ {
	model = "Samsung UNIVERSAL8890 board based on EXYNOS8890";
	model_info-chip = <8890>;
	model_info-platform = "android";
	model_info-subtype = "samsung";
	model_info-hw_rev = <1>;
	model_info-hw_rev_end = <1>;
	compatible = "samsung,exynos8890", "samsung,UNIVERSAL8890";

	audio_pdata {
		compatible = "samsung,audio-pdata";

		imp_table_CAN = <
			/* min      max gain */
			   0         13    0
			  14         42    8
			  43        100   11
			 101        200   14
			 201        450   15
			 451       1000   15
			1001 0x7fffffff   11
		>;

		seamless_voicewakeup;
		status = "okay";
	};

	hsi2c@10550000{
		s2mps16_pmic@66 {
			regulators {
				ldo26_reg: LDO26 {
					regulator-name = "VDD_DSP_1P2";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-boot-on;
					regulator-always-on;
					regulator-initial-mode = <3>;
				};
			};
		};
	};

	pinctrl@10580000 {
		codec_irq: codec-irq {
			samsung,pins = "gpa2-6";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
		};
		max98506_ctrl: max98506-ctl {
			samsung,pins ="gpa2-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn =<2>;
			samsung,pin-pud-pdn = <0>;
		};
	};

	pinctrl@136D0000 {
		max98506_i2c: max98506-i2c {
			samsung,pins = "gpd1-0", "gpd1-1";
			samsung,pin-pud = <0>;
			status = "okay";
		};
	};

	hsi2c@10550000{
		status = "okay";

		s2mps16_pmic@66 {
			regulators {
				ldo32_reg: LDO32 {
					regulator-name = "tsp_io";
					regulator-min-microvolt = <1850000>;
					regulator-max-microvolt = <1850000>;
				};

				ldo33_reg: LDO33 {
					regulator-name = "tsp_avdd";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
				};
			};
		};
	};

	hsi2c@13690000 {
		status = "okay";

		max77838@60 {
			regulators {
				ldo2: LDO2 {
					regulator-name = "HRM_1.8V_AP";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};
				ldo4: LDO4 {
					regulator-name = "HRM_3.3V_AP";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
				};
			};
		};
	};

	spi_3: spi@14d50000 {
		num-cs = <1>;
		status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi3_bus &spi3_cs_func>;

		/delete-property/ pinctrl-1;
		/delete-property/ samsung,ese-oberthur;

		dbmd2_spi:dbmd2_interface@0x0  {
			compatible = "dspg,dbmd2-spi";
			spi-max-frequency = <10000000>;
			read-chunk-size  = <0x2000>;
			write-chunk-size = <0x40000>;
			dma_min_buffer_size = <0>;
			reg = <0>;
			gpio-controller;
		#gpio-cells = <2>;

			controller-data {
				cs-gpio = <&gpf2 1 0>;
				samsung,spi-feedback-delay = <0>;
				samsung,spi-chip-select-mode = <0>;
			};

		};
		/delete-node/ ese_spi@0;
	};

	dbmdx_event {
		status = "okay";
		compatible = "samsung,dbmdx-event";
	};

	dbmdx-snd-soc-platform {
		compatible = "dspg,dbmdx-snd-soc-platform";
	};

	snd-dbmdx-mach-drv {
		compatible = "dspg,snd-dbmdx-mach-drv";
	};

	dbmdx {
		status = "okay";
		compatible = "dspg,dbmdx-codec";

		reg = <0x0>;
		gpio-controller;
	#gpio-cells = <2>;

		pinctrl-names ="default";
		pinctrl-0 = <&dbmdx_wakeup &dbmdx_rst>;

		wakeup-gpio = <&gpe7 0 0>; /* VOICE_WAKE */
		reset-gpio = <&gpe6 7 0>; /* VOICE_RST */
		cmd-interface = <&dbmd2_spi>;
		feature-vqe; /* enable VQE */
		vqe-firmware-name = "dbmd2_vqe_fw.bin";

		va-speeds = <0x0000 0 0 960000
					0x0000 0 0 960000
					0x0000 0 0 4800000 >;
		/* vqe-config = < >; */
		vqe-modes = <0 1 2 3 4 5 0x100>;
		master-clk-rate = <26000000>;
		clocks = <&clock 1001>;
		clock-names = "dbmdx_constant_clk";
		constant-clk-rate = <26000000>;
		firmware_id = <0xdbd2>;
		wakeup_set_value = <1>;	/* Value to write to wakeup gpio */
	};

	pinctrl@14CC0000 {
		codec_reset: codec-reset {
			samsung,pins ="gpe6-5";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn =<3>;
			samsung,pin-pud-pdn = <1>;
			samsung,pin-val = <0>;
		};
		dbmdx_wakeup: dbmdx-wakeup {
			samsung,pins ="gpe7-0";
			samsung,pin-function = <1>;
			samsung,pin-pud = <3>;
			samsung,pin-con-pdn =<3>;
			samsung,pin-pud-pdn = <3>;
			samsung,pin-val = <1>;
		};
		dbmdx_rst: dbmdx-rst {
			samsung,pins ="gpe6-7";
			samsung,pin-function = <1>;
			samsung,pin-pud = <3>;
			samsung,pin-con-pdn =<3>;
			samsung,pin-pud-pdn = <3>;
			samsung,pin-val = <1>;
		};
	};

	hsi2c@13650000 {
		status = "okay";

		max77854@66 {
			status = "okay";
		};
	};

	hsi2c@13640000 {
		status = "okay";
		max98506@31 {
			compatible = "maxim,max98506";
			reg = <0x31>;
			pinctrl-names = "default";
			pinctrl-0 = <&max98506_i2c &max98506_ctrl>;
			gpios = <&gpd1 0 0
				&gpd1 1 0
				>;
			i2c-gpio,delay-us = <2>;
			maxim,platform_type = <0>;
			maxim,spk-gain = <0x14>;
			maxim,sysclk = <12288000>;
			maxim,vmon_slot = <0>;
			maxim,platform_info = <0 0x4000 0x0F010203 0x0FF10203 0x00000000 40>;
			maxim,boost_step = <
						0x0F 0x0F 0x0F 0x0F
						0x0F 0x0F 0x0F 0x0F
						0x0F 0x0F 0x0F 0x0F
						0x0F 0x0F 0x02 0x00
						>;
			maxim,adc_threshold = <7>;
			maxim,registers-of-amp =
				<0x1F 0x00>,
				<0x21 0xC0>,
				<0x2F 0x00>;
			maxim,sub_reg = <0x34>;
		};
	};

	hsi2c@14E10000 {
		touchscreen@48{
			status = "disabled";
		};

		touchscreen@49{
			status = "okay";
			stm,tspid_gpio = <&gpe7 1 0>;
			stm,tspid2_gpio = <&gpe7 2 0>;
			stm,irq_gpio = <&gpa1 0 0>;
			stm,irq_type = <8200>;
			stm,project_name = "PS-LTE", "G880";
			stm,firmware_name = "tsp_stm/fts7bd50_haechi.fw";
		};
	};

	i2c@20 {
		touchkey@20 {
			status = "disabled";
		};
	};

	/* Disable NFC : gpa1-2 : key_back */
	hsi2c@13670000 {
		status = "disabled";
	};

	pinctrl@10580000 {
		key_back: key-back {
			samsung,pins = "gpa1-2";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};
		key_recent: key-recent {
			samsung,pins = "gpa1-1";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};
		key_hot: key-hot {
			samsung,pins = "gpa1-7";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};
		key_emergency: key-emergency {
			samsung,pins = "gpa1-3";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;

		};
	};

	gpio_keys {
		button@5 {
			label = "gpio-keys: KEY_BACK";
			interrupts = <2 0 0>;
			interrupt-parent = <&gpa1>;
			linux,code = <158>;
			gpios = <&gpa1 2 0xf>;
		};
		button@6 {
			label = "gpio-keys: KEY_RECENT";
			interrupts = <1 0 0>;
			interrupt-parent = <&gpa1>;
			linux,code = <254>;
			gpios = <&gpa1 1 0xf>;
		};
		button@7 {
			label = "gpio-keys: KEY_HOT";
			interrupts = <7 0 0>;
			interrupt-parent = <&gpa1>;
			linux,code = <252>;
			gpios = <&gpa1 7 0xf>;
			gpio-key,wakeup = <1>;
		};
		button@8 {
			label = "gpio-keys: KEY_EMERGENCY";
			interrupts = <3 0 0>;
			interrupt-parent = <&gpa1>;
			linux,code = <240>; //UNDEFINED
			gpios = <&gpa1 3 0xf>;
			gpio-key,wakeup = <1>;
		};
	};

	spi_1: spi@14d30000 {
		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&spi1_mosi_sck_ssn &spi1_miso>;

		num-cs = <1>;
		status = "okay";

		BCM4773@0 {
			compatible = "ssp,BCM4773";
			reg = <0>;
			spi-max-frequency = <26000000>;
			spi-cpol;
			spi-cpha;
			pinctrl-names = "default";
			pinctrl-0 = <&ssp_host_req &ssp_mcu_req &ssp_mcu_resp &ssp_batch_wake_irq>;

			gpio-controller;
			#gpio-cells = <2>;
			ssp-host-req = <&gpa3 4 0x00>;
			ssp-mcu-req = <&gpe6 4 0x00>;
			ssp-mcu-resp = <&gpg0 2 0x00>;
			ssp-batch-wake-irq = <&gpa3 1 0x00>;
			ssp-acc-position = <1>;
			ssp-mag-position = <1>;
			ssp-sns-combination = <0>;
			ssp,prox-hi_thresh = <2000>;
			ssp,prox-low_thresh = <1400>;
			ssp-ap-rev = <1>;
			ssp-mag-array = <9787 662 79 290 9460 27 200 (-33) 10632>;
			ssp-glass-type = <0>;

			controller-data {
				cs-gpio = <&gpe2 5 0>;
				samsung,spi-feedback-delay = <0>;
				};
			};
	};

	bluetooth {
	compatible = "broadcom,bcm4359";
	gpios = <&gpj1 7 0	/*BT_EN*/
		&gpi2 3 0	/*BT_WAKE*/
		&gpa2 3 0xF	/*BT_HOST_WAKE*/ >;
	pinctrl-names = "default";
	pinctrl-0=<&bt_hostwake &bt_btwake &bt_en>;
	status = "okay";
	};

	gps {
		compatible = "samsung,exynos54xx-bcm4753";

		pinctrl-names = "default";
		//pinctrl-0 = <&ssp_gps_pwr_en &ssp_host_wake>;
		pinctrl-0 = <&ssp_gps_pwr_en>;

		gpios = <&gpb1 1 0x0
			      //&gpa3 1 0x0
				>;
		status = "okay";
	};

	pinctrl@10580000 {
		tflash_en: tfalsh-en {
			samsung,pins = "gpa3-7";
			samsung,pin-pud = <0>;
		};
	};

	pinctrl@15690000 {
		sd2_clk: sd2-clk {
			samsung,pins = "gpj0-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sd2_bus1: sd2-bus-width1 {
			samsung,pins = "gpj0-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sd2_bus4: sd2-bus-width4 {
			samsung,pins = "gpj0-4", "gpj0-5", "gpj0-6";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};
	};
};
